* {
    font-family: monospace;
    outline: none;
    background: #E6E6E6;
}
body{
    margin: 0 auto;
}
.navbar{
    height: 50px;
    text-align: center;
    padding: 50px 50px 10px 0px;
}
.topnav a {
    color: #000000;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
}
.topnav a:hover {
    text-decoration: underline;
    color: #000000;
}
.active {
    background-color: transparent;
    color: blue;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column_left{
    float: left;
    width: 33%;
    height: auto;
}
.column_center{
    width: 33%;
    float: left;
    height: auto;
    
}
.column_right{
    float: left;
    width: 33%;
    height: auto;
}
.image_container{
    margin: 0px 0px 50px 0px;
}
.cars_section{
    display: inline-flex;
}
.car_section{
    width: 100%;
}
.single_car{
    float: left;
    min-width: 25%;
    margin: 0px 0px 50px 0px;
}
.single_car img{
    width:95%; 
    border-radius: 5px; 
    border: 2px solid #555555;
    object-fit: cover;
}
.single_car a{
    text-decoration: underline;
    color: #000000;
}
.single_car a:hover{
    text-decoration: underline;
    color: green;
}
.footer{
    width: 100%;
    background: #000000;
    height: 100px;
    border: 1px solid #000000;
    text-align: center;
}
.footer h5{
    color: #FFFFFF;
    margin: 50px 0px 0px 0px;
    background: #000000;
}